-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: localhost    Database: library
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `book`
--

DROP TABLE IF EXISTS `book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `book` (
  `book_id` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `book_isbn` varchar(13) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `book_borrowed` tinyint(1) DEFAULT NULL,
  `book_lost` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`book_id`),
  KEY `book_isbn` (`book_isbn`),
  CONSTRAINT `book_ibfk_1` FOREIGN KEY (`book_isbn`) REFERENCES `book_basic` (`book_basic_isbn`),
  CONSTRAINT `book_chk_1` CHECK ((`book_borrowed` in (0,1))),
  CONSTRAINT `book_chk_2` CHECK ((`book_lost` in (0,1)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book`
--

LOCK TABLES `book` WRITE;
/*!40000 ALTER TABLE `book` DISABLE KEYS */;
/*!40000 ALTER TABLE `book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `book_basic`
--

DROP TABLE IF EXISTS `book_basic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `book_basic` (
  `book_basic_isbn` varchar(13) COLLATE utf8mb4_unicode_ci NOT NULL,
  `book_basic_author` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `book_basic_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `book_basic_num` int(11) NOT NULL,
  `book_record_num` int(11) NOT NULL,
  `book_basic_cover` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`book_basic_isbn`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book_basic`
--

LOCK TABLES `book_basic` WRITE;
/*!40000 ALTER TABLE `book_basic` DISABLE KEYS */;
/*!40000 ALTER TABLE `book_basic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `borrow_log`
--

DROP TABLE IF EXISTS `borrow_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `borrow_log` (
  `borrow_book_id` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `borrow_user_id` varchar(6) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `borrow_time` datetime DEFAULT NULL,
  PRIMARY KEY (`borrow_book_id`),
  KEY `borrow_user_id` (`borrow_user_id`),
  CONSTRAINT `borrow_log_ibfk_1` FOREIGN KEY (`borrow_book_id`) REFERENCES `book` (`book_id`),
  CONSTRAINT `borrow_log_ibfk_2` FOREIGN KEY (`borrow_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `borrow_log`
--

LOCK TABLES `borrow_log` WRITE;
/*!40000 ALTER TABLE `borrow_log` DISABLE KEYS */;
INSERT INTO `borrow_log` VALUES ('9780394123196001','000000','2019-12-20 11:14:53'),('9780394123196002','000000','2019-12-20 11:14:54'),('9781275461628001','000000','2019-12-25 09:28:54'),('9781275461628002','000000','2019-12-25 09:28:58'),('9781275461628004','000000','2019-12-25 09:28:57'),('9781275461628006','000000','2019-12-25 09:28:57'),('9781352533071001','123456','2019-12-20 11:19:24');
/*!40000 ALTER TABLE `borrow_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lost_log`
--

DROP TABLE IF EXISTS `lost_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lost_log` (
  `lost_sequence` int(11) NOT NULL AUTO_INCREMENT,
  `lost_book_id` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lost_book_isbn` varchar(13) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lost_user_id` varchar(6) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lost_book_time` datetime DEFAULT NULL,
  PRIMARY KEY (`lost_sequence`),
  KEY `lost_book_isbn` (`lost_book_isbn`),
  KEY `lost_user_id` (`lost_user_id`),
  CONSTRAINT `lost_log_ibfk_1` FOREIGN KEY (`lost_book_isbn`) REFERENCES `book_basic` (`book_basic_isbn`),
  CONSTRAINT `lost_log_ibfk_2` FOREIGN KEY (`lost_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lost_log`
--

LOCK TABLES `lost_log` WRITE;
/*!40000 ALTER TABLE `lost_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `lost_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_log`
--

DROP TABLE IF EXISTS `return_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `return_log` (
  `return_sequence` int(11) NOT NULL AUTO_INCREMENT,
  `return_book_id` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `return_user_id` varchar(6) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `return_time` datetime DEFAULT NULL,
  `borrowed_time` datetime NOT NULL,
  PRIMARY KEY (`return_sequence`),
  KEY `return_book_id` (`return_book_id`),
  KEY `return_user_id` (`return_user_id`),
  CONSTRAINT `return_log_ibfk_1` FOREIGN KEY (`return_book_id`) REFERENCES `book` (`book_id`),
  CONSTRAINT `return_log_ibfk_2` FOREIGN KEY (`return_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_log`
--

LOCK TABLES `return_log` WRITE;
/*!40000 ALTER TABLE `return_log` DISABLE KEYS */;
INSERT INTO `return_log` VALUES (1,'9780068227380001','000000','2019-12-20 11:12:30','2019-12-20 11:11:51'),(2,'9780156828130001','000000','2019-12-20 11:12:31','2019-12-20 11:11:44'),(3,'9780705106887001','000000','2019-12-20 11:12:31','2019-12-20 11:11:49'),(4,'9781230474816001','000000','2019-12-20 11:12:39','2019-12-20 11:11:52'),(7,'9780312846855001','123456','2019-12-20 11:20:33','2019-12-20 11:19:22'),(8,'9781230474816001','123456','2019-12-20 11:20:33','2019-12-20 11:19:25');
/*!40000 ALTER TABLE `return_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `role_name` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_book_limit` int(11) DEFAULT NULL,
  PRIMARY KEY (`role_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('admin',100),('default',3),('teacher',5);
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_name` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_password_hash` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_role_name` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_remain_book_num` int(11) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  KEY `user_role_name` (`user_role_name`),
  CONSTRAINT `user_ibfk_1` FOREIGN KEY (`user_role_name`) REFERENCES `role` (`role_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('000000','管理员','pbkdf2:sha256:150000$a3LenZQD$35818e6b7d0880da26ff9e4fd75d923ed66c3fe1c4c949f473ef500de4c05eb4','admin',94),('123456','普通测试','pbkdf2:sha256:150000$9RIn8Ife$274a63c29d5ed9905a75bf519de2246a6341eae091c0dc44456118e2d22c87f3','default',2),('654321','老师用户','pbkdf2:sha256:150000$H5FJid5W$6fe87b603fdb46880e817ae26ccafbfb25ec73cba4a22597eab3e531806761b6','teacher',5);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-12-25  9:41:30
