wiki/
venv/
.vscode/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
.vs/
**/*.mdf
**/*.ldf
**/*.exe
**/*.dsp
**/*.dsw
**/*.ncb
**/*.opt
**/*.plg
**/*.doc
**/*.docx
**/*.o
**/*.pyc
**/*.out
**/*.pt
**/*.log
**/*.obj
**/*.lst
**/*.pdf
*.suo
*.user
*.sln.docstates
clear_gitignore.sh