//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 24 11:27:41 2018
//! **************************************************************************

SCHEMATIC START;
COMP "INPUT<10>" LOCATE = SITE "V2" LEVEL 1;
COMP "INPUT<11>" LOCATE = SITE "V3" LEVEL 1;
COMP "INPUT<12>" LOCATE = SITE "V4" LEVEL 1;
COMP "INPUT<13>" LOCATE = SITE "U8" LEVEL 1;
COMP "INPUT<14>" LOCATE = SITE "R7" LEVEL 1;
COMP "INPUT<15>" LOCATE = SITE "T7" LEVEL 1;
COMP "INPUT<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "INPUT<1>" LOCATE = SITE "J7" LEVEL 1;
COMP "INPUT<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "INPUT<3>" LOCATE = SITE "K7" LEVEL 1;
COMP "INPUT<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "INPUT<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "INPUT<6>" LOCATE = SITE "N2" LEVEL 1;
COMP "INPUT<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "INPUT<8>" LOCATE = SITE "R4" LEVEL 1;
COMP "INPUT<9>" LOCATE = SITE "U1" LEVEL 1;
COMP "OUTPUT<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "OUTPUT<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "OUTPUT<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "OUTPUT<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "OUTPUT<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "OUTPUT<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "stateCnt<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "OUTPUT<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "OUTPUT<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "stateCnt<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "OUTPUT<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "OUTPUT<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "stateCnt<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "OUTPUT<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "stateCnt<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "OUTPUT<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "stateCnt<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "OUTPUT<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "RST" LOCATE = SITE "U10" LEVEL 1;
COMP "stateCnt<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "OUTPUT<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "stateCnt<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "OUTPUT<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "OUTPUT<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "CLK" LOCATE = SITE "U9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

