//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 08 10:24:45 2019
//! **************************************************************************

SCHEMATIC START;
COMP "instructions<11>" LOCATE = SITE "V3" LEVEL 1;
COMP "instructions<12>" LOCATE = SITE "V4" LEVEL 1;
COMP "instructions<13>" LOCATE = SITE "U8" LEVEL 1;
COMP "instructions<14>" LOCATE = SITE "R7" LEVEL 1;
COMP "instructions<15>" LOCATE = SITE "T7" LEVEL 1;
COMP "clk" LOCATE = SITE "U9" LEVEL 1;
COMP "bZero_ctrl" LOCATE = SITE "V16" LEVEL 1;
PIN bZero_ctrl_pin<0> = BEL "bZero_ctrl" PINNAME PAD;
PIN "bZero_ctrl_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "light<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "light<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "light<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "light<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "light<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "light<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "light<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "clk0" LOCATE = SITE "B8" LEVEL 1;
COMP "light<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "light<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "light<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "light<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "light<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "light<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "light<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "light<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "instructions<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "light<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "instructions<1>" LOCATE = SITE "J7" LEVEL 1;
COMP "instructions<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "instructions<3>" LOCATE = SITE "K7" LEVEL 1;
COMP "instructions<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "showCtrl" LOCATE = SITE "U11" LEVEL 1;
PIN showCtrl_pin<0> = BEL "showCtrl" PINNAME PAD;
PIN "showCtrl_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "instructions<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "instructions<6>" LOCATE = SITE "N2" LEVEL 1;
COMP "rst" LOCATE = SITE "U10" LEVEL 1;
COMP "instructions<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "instructions<8>" LOCATE = SITE "R4" LEVEL 1;
COMP "instructions<9>" LOCATE = SITE "U1" LEVEL 1;
COMP "instructions<10>" LOCATE = SITE "V2" LEVEL 1;
NET "showCtrl_BUFGP/IBUFG" BEL "showCtrl_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk0_BUFGP/IBUFG" BEL "clk0_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "bZero_ctrl_BUFGP/IBUFG" BEL "bZero_ctrl_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

