{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}资料{% endblock %}



{% block content %}
    <div class="container">
    <div class="page-header">
    <h1>用户资料</h1>
    </div>
    </div><br><br>
    <div class="container">
    <div class="container">
    <div class="panel-heading text-center">
        <h4>用户基本资料</h4>
    </div>
        <table class="table-responsive">
            {% for info in user_info %}
            <tr>
                <h5>{{ info[0] }}： {{ info[1] }}</h5>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container">
        <div class="panel-heading text-center">
            <center><h4>用户借阅记录</h4></center>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    {% for x in info_label %}
                        <td>{{ x }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for x in info %}
                    <tr>
                        {% for y in x %}
                            <td>{{ y }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>



{% endblock %}