{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}书籍管理{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="app/static/jquery.min.js">
    </script>
    <script src="/static/jquery.validate.min.js"></script>
    <script>
        function clk(id){
            if (id == 'delete') {
                $('#delete-form').show();
                $('#insert-form').hide();
                $('#modify-form').hide();
                $('#confirm-message').text('删除');
            }
            else if (id == 'insert') {
                $('#delete-form').hide();
                $('#insert-form').show();
                $('#modify-form').hide();
                $('#confirm-message').text('增加');
            }
            else if (id == 'modify') {
                $('#delete-form').hide();
                $('#insert-form').hide();
                $('#modify-form').show();
                $('#confirm-message').text('修改');
            }
            var a = $(".form-control");
            for (var i = 0; i < a.length; i++) {
                a[i].style.border = "1px solid #ccc";
            };
        }
    </script>

    <script>
    $(document).ready(function () {
        $('#yes_button').click(function () {
                $("#form_one").submit();
                $("#myModal").modal('close')
            }
        );
    });
    </script>

    <script>
        $(document).ready(function () {
            $('#submitone').click(function () {
                var myvalid = $('#form_one').validate();
                if ($('#form_one').valid()) {
                    $("#myModal").modal("show");
                } else {
                    var a = $(".form-control");
                    for (var i = 0; i < a.length; i++){
                        if (!myvalid.check("#" + $(a[i]).attr('id'))) {
                            a[i].style.border = "1px solid #A94442";
                        }
                        else {
                            a[i].style.border = "1px solid #ccc";
                        }
                    }
                }
            });
            $('#myModal').on('show.bs.modal', function () {

            });
        });
    </script>

{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>书籍管理</h1>
        </div>




    <div class="col-md-3">
            <form action="{{ url_for('auth.manage_book') }}" method="post" class="form" role="form" id="form_one" enctype="multipart/form-data"
            name="form_one">
                <div class="form-group"><label class="control-label" for="category">操作类型</label>
                    <select class="form-control" id="category" name="category" required="" onchange="clk(this.value)">
                        <option value="delete">删除书籍</option>
                        <option value="insert">增加书籍</option>
                        <option value="modify" selected="selected">修改书籍</option>
                    </select>
                </div>

                <div id="delete-form" style="display: none">
                    <div class="form-group " id="div1"><label class="control-label" for="book_id">书籍id</label>
                    <input class="form-control" id="book_id" name="book_id" type="text" value="" placeholder="16位数字组成"
                    required pattern="^[0-9]{16}$" minlength="16" maxlength="16">
                    </div>
                </div>

                <div id="insert-form" style="display: none">
                    <div class="form-group"><label class="control-label" for="isbn">图书ISBN-必填</label>
                    <input class="form-control" id="isbn-1" name="isbn-1" type="text" value="" placeholder="13位数字组成"
                    required pattern="^[0-9]{13}$" minlength="13" maxlength="13">
                    </div>
                    <div class="form-group "><label class="control-label" for="name">图书名称-必填</label>
                    <input class="form-control" id="name-1" name="name-1" type="text" value="" placeholder="不超过100位字符"
                    required maxlength="100">
                    </div>
                    <div class="form-group "><label class="control-label" for="author">图书作者-必填</label>
                    <input class="form-control" id="author-1" name="author-1" type="text" value="" placeholder="不超过20位字符"
                    required maxlength="20">
                    </div>
                    <div class="form-group "><label class="control-label" for="update_num">图书数量-必填</label>
                    <input class="form-control" id="num-1" name="num-1" type="number" value="" placeholder="总数量不能超过999"
                    required min="1" max="999">
                    </div>
                    <div class="form-group"><label class="control-label" for="cover">图片封面-必填</label>
                        <input class="form-control" id="file-1" name="file-1" type="file" style="size: auto">
                    </div>
                </div>

                <div id="modify-form">
                    <div class="form-group"><label class="control-label" for="isbn">原图书ISBN-必填</label>
                    <input class="form-control" id="isbn-2" name="isbn-2" type="text" value="" placeholder="13位数字组成"
                    required pattern="^[0-9]{13}$" minlength="13" maxlength="13" data-error="13位数字组成">
                    </div>
                    <div class="form-group "><label class="control-label" for="name">新图书名称-选填</label>
                    <input class="form-control" id="name-2" name="name-2" type="text" value="" placeholder="不超过100位字符"
                    >
                    </div>
                    <div class="form-group "><label class="control-label" for="author">新图书作者-选填</label>
                    <input class="form-control" id="author-2" name="author-2" type="text" value="" placeholder="不超过20位字符"
                    >
                    </div>
                    <div class="form-group "><label class="control-label" for="update_num">新增图书数量-选填</label>
                    <input class="form-control" id="num-2" name="num-2" type="number" value="" placeholder="总数量不能超过999"
                     min="0" max="999">
                    </div>
                    <div class="form-group"><label class="control-label" for="cover">新的图片封面-选填</label>
                        <input class="form-control" id="file-2" name="file-2" type="file" style="size: auto">
                    </div>
                </div>
                <button id="submitone" type="button" class="btn btn-primary">提交修改</button>
            </form>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">二次确认</h4>
                    </div>
                    <div class="modal-body">
                        <nobr><h5 style="display: inline">您确认要做</h5><h4 id="confirm-message" style="color: red;display: inline">该</h4><h5 style="display: inline">操作吗？</h5></nobr>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃</button>
                        <button class="btn btn-primary" id="yes_button">确认提交</button>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#             aria-hidden="true">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLabel">危险操作确认</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <h5 id="confirm-message" style="color: red">您确认要做此次操作吗？</h5>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃</button>#}
{#                        <button class="btn btn-primary" id="yes_button">确认提交</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}














    </div>
{% endblock %}
