{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}书籍管理{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="app/static/jquery.min.js">
    </script>
    <script>
    function returnThisBook(borrowed_book_id, loadid) {
        $.ajax({
            url: '{{ url_for('auth.return_this_book') }}',
            type: 'post',
            data: {'borrowed_book_id': borrowed_book_id},
            success: function (data) {
                var x = "<div class=\"alert alert-info\">\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>\n" +
                    data.message_info +
                    "</div>";
                $(loadid).remove();
                $(loadid).remove();
                $('#update-div').append(x);
            }
        })
    }
</script>
{% endblock %}


{% block content %}
    {{ super() }}
    <div class="sticky-top">
        {% if current_user.is_authenticated %}
            <div id="update-div" class="container">

            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="page-header">
            <h1>书籍归还</h1>
        </div>
    </div>



    <div class="container">
    <div class="col-md-3">
    {{ wtf.quick_form(form) }}
    </div>
    <div class="panel-heading text-center">
    <center><h4>按书籍id查询借阅记录</h4></center>
            <br>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            {% for x in info_label_1 %}
            <td>{{ x }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr id="borrowed{{ info_1[3] }}">
        {% for x in info_1 %}
        <td>{{ x }}</td>
        {% endfor %}
        {% if info_1 %}
        <td>
            <a id="btn_return{{ info_1[3] }}" class="btn btn-info" href="javascript:returnThisBook(
               '{{ info_1[3] }}', '#borrowed{{ info_1[3] }}')">
                确认归还
            </a>
        </td>
        {% endif %}
        </tr>
        </tbody>
        </table>
    </div>


    <div class="panel-heading text-center">
            <center><h4>按用户查询借阅记录</h4></center>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    {% for x in info_label_2%}
                        <td>{{ x }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for info in info_2 %}
                    <tr id="borrowed{{ info[3] }}">
                        {% for x in info %}
                            <td>{{ x }}</td>
                        {% endfor %}
                        <td>
                            <a id="btn_return{{ info[3] }}" class="btn btn-info" href="javascript:returnThisBook(
               '{{ info[3] }}', '#borrowed{{ info[3] }}')">
                                确认归还
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}