{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}书籍管理{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>书籍管理</h1>
        </div>
        <div class="col-md-3">
            {{ wtf.quick_form(form1) }}
        </div>
    </div>
{% endblock %}











<div class="col-md-3">
    <form action="" method="post" class="form" role="form">
        <div class="form-group  required"><label class="control-label" for="category">操作类型</label>
            <select class="form-control" id="category" name="category" required="">
                <option value="delete">删除书籍</option>
                <option value="insert">增加书籍</option>
            </select>
        </div>
        <div class="form-group "><label class="control-label" for="isbn">图书ISBN</label>
            <input class="form-control" id="isbn" name="isbn" type="text" value="">
        </div>
        <div class="form-group "><label class="control-label" for="book_id">书籍id</label>
            <input class="form-control" id="book_id" name="book_id" type="text" value="">
        </div>
        <div class="form-group "><label class="control-label" for="name">图书名称</label>
            <input class="form-control" id="name" name="name" type="text" value="">
        </div>
        <div class="form-group "><label class="control-label" for="author">图书作者</label>
            <input class="form-control" id="author" name="author" type="text" value="">
        </div>
        <div class="form-group "><label class="control-label" for="update_num">新增图书数量</label>
            <input class="form-control" id="update_num" name="update_num" type="text" value="">
        </div>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交修改">
    </form>
</div>

