//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 22 08:51:42 2019
//! **************************************************************************

SCHEMATIC START;
COMP "dbc" LOCATE = SITE "C14" LEVEL 1;
COMP "clk" LOCATE = SITE "U9" LEVEL 1;
COMP "rst" LOCATE = SITE "U11" LEVEL 1;
COMP "Input_data<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "Input_data<1>" LOCATE = SITE "J7" LEVEL 1;
COMP "Input_data<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "Input_data<3>" LOCATE = SITE "K7" LEVEL 1;
COMP "Input_data<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "Input_data<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "Input_data<6>" LOCATE = SITE "N2" LEVEL 1;
COMP "Input_data<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "Input_data<8>" LOCATE = SITE "R4" LEVEL 1;
COMP "Input_data<9>" LOCATE = SITE "U1" LEVEL 1;
COMP "RAM1_EN" LOCATE = SITE "M15" LEVEL 1;
COMP "RAM1_OE" LOCATE = SITE "M16" LEVEL 1;
COMP "RAM1_WE" LOCATE = SITE "M18" LEVEL 1;
COMP "Input_data<10>" LOCATE = SITE "V2" LEVEL 1;
COMP "Input_data<11>" LOCATE = SITE "V3" LEVEL 1;
COMP "Input_data<12>" LOCATE = SITE "V4" LEVEL 1;
COMP "Input_data<13>" LOCATE = SITE "U8" LEVEL 1;
COMP "Input_data<14>" LOCATE = SITE "R7" LEVEL 1;
COMP "Input_data<15>" LOCATE = SITE "T7" LEVEL 1;
COMP "ctrl_r" LOCATE = SITE "U10" LEVEL 1;
PIN ctrl_r_pin<0> = BEL "ctrl_r" PINNAME PAD;
PIN "ctrl_r_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ADDR<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "ADDR<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "ADDR<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "ADDR<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "ADDR<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "ADDR<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "DATA<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "DATA<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "DATA<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "DATA<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "DATA<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "DATA<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "LIGHT<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "LIGHT<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "LIGHT<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "LIGHT<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "LIGHT<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "LIGHT<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "ADDR<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "ADDR<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "ADDR<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "ADDR<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "ADDR<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "ADDR<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "ADDR<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "ADDR<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "ADDR<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "ADDR<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "DATA<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "DATA<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "LIGHT<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "LIGHT<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "LIGHT<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "LIGHT<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "LIGHT<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LIGHT<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LIGHT<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "LIGHT<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "LIGHT<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "LIGHT<9>" LOCATE = SITE "E12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "ctrl_r_BUFGP/IBUFG" BEL "ctrl_r_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

